# dbt
target/
dbt_packages/
logs/
profiles.yml
/.dbt/

# SQL / artifacts
*.csv
*.parquet

# Python
__pycache__/
*.py[cod]
.python-version
.venv/
.env

# VSCode
.vscode/

# macOS
.DS_Store

# Logs
*.log
